amqp==2.5.0
appdirs==1.4.4
APScheduler==3.7.0
asgiref==3.2.9
astroid==2.4.2
billiard==3.6.0.0
bokeh==2.2.1
celery==4.3.0
certifi==2019.3.9
chardet==3.0.4
cmdstanpy==0.9.68
colorama==0.4.4
convertdate==2.3.0
coreapi==2.3.3
coreschema==0.0.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
distlib==0.3.1
Django==2.2.4
django-apscheduler==0.5.2
django-cors-headers==3.4.0
django-rest-swagger==2.2.0
django-templated-mail==1.1.1
django-timezone-field==3.0
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
djoser==2.0.3
drf-yasg==1.17.1
ephem==3.7.7.1
filelock==3.0.12
hijri-converter==2.1.1
holidays==0.10.5.2
idna==2.8
inflection==0.5.0
isort==5.7.0
itypes==1.1.0
Jinja2==2.10.1
kiwisolver==1.3.1
kombu==4.6.3
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.3
LunarCalendar==0.0.9
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mpld3==0.5.2
numpy==1.19.5
openapi-codec==1.3.2
packaging==20.4
pandas==1.1.5
panel==0.9.7
param==1.9.3
patsy==0.5.1
Pillow==8.1.0
plotly==4.14.3
pycodestyle==2.6.0
pyct==0.4.8
pydash==4.9.0
pygame==1.9.6
PyJWT==1.7.1
pylint==2.6.0
PyMeeus==0.3.7
pyparsing==2.4.7
pystan==2.19.1.1
python-crontab==2.3.8
python-dateutil==2.8.0
pytz==2019.2
pyviz-comms==0.7.6
PyYAML==5.3.1
requests==2.22.0
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scipy==1.5.4
selenium==3.141.0
self==2020.12.3
setuptools-git==1.2
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
statsmodels==0.12.2
toml==0.10.2
tornado==6.0.4
tqdm==4.56.2
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.2
uritemplate==3.0.0
urllib3==1.25.3
vine==1.3.0
virtualenv==20.0.33
wrapt==1.12.1
zope.interface==5.2.0

DateTime~=4.3
seaborn~=0.11.1
fbprophet~=0.6
sklearn~=0.0
scikit-learn~=0.24.1
SQLAlchemy~=1.4.2